.page {
  font-family: 'Formular', Arial, sans-serif;
  min-width: 414px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  &__content {
    width: 100%;
  }
}