.header {
  background: #E5E5E5;
  border-bottom: solid #242424 1px;
  display: flex;
  flex-direction: row;
  padding: 15px 20px 11px 30px;
  font-family: 'Formular';
  &__logo {
    width: 43px;
    height: 35px;
  }
  &__navigation {
    display: flex;
    flex-direction: row;
  }
  &__items {
    border-right: 1px solid #242424;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 33px 0 29px;
    margin: 0;
    align-items: center;
  }
  &__item {
    margin-right: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__contact-item {
    margin-right: 16px;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__contact-links {
    border-right: 1px solid #242424;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 26px 0 24px;
    margin: 0;
    align-items: center;
  }
  &__menu-link {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__contact-link {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__support-button {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #242424;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    padding: 0;
    margin-left: 23px;
    &:hover {
      cursor: pointer;
    }
  }
}