.official-reviews {
  min-width: 0;
  max-width: 100%;
 padding: 150px 0 112px 362px;
  &__title {
    font-family: 'Neue Machina Regular';
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
  }

  &__container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    min-width: 0;
  }

  &__button-prev {
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-left: 1px solid #242424;
    background-image: url("../../images/arrow-left.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  &__button-next {
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-right: 1px solid #242424;
    background-image: url("../../images/arrow-right.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: 12px;

    &:hover {
      cursor: pointer;
    }
  }

}

.official-review {
  width: 718px;
  padding: 55px 88px 72px;
  background: #FFFFFF;

  &__logo {

  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #242424;
  }

  &__button {
    width: 210px;
    height: 31px;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    border: 0;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #242424;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
    background-image: url("../../images/arrow-45.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 7px 7px 10px 28px;
    background-position: -26px;

    &:hover {
      cursor: pointer;
    }
  }
}

.official-reviews__swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin-right: 16px;
  border: 1px solid #242424;
  background: transparent;

  &:last-of-type {
    margin-right: 0;
  }
}

.official-reviews__swiper-pagination .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #242424;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  max-width: 718px;
}

.swiper-slide {
  max-width: 718px;
  overflow: hidden;
}