.official-reviews {
  padding: 150px 0 112px 362px;
  &__header {
    display: flex;
    justify-content: space-between;
    width: 718px;
    margin-bottom: 36px;
    align-items: center;
  }
  &__navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-family: 'Neue Machina Regular';
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    max-width: 359px;
    margin: 0;
    padding: 0;
  }

  &__container {
    position: relative;
    overflow: hidden;
    max-width: 1078px;
  }

  &__wrapper {
    display: flex;
    max-width: 1078px;
    padding: 0 0 112px 0;
    justify-content: start;
  }

  &__button-prev {
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-left: 1px solid #242424;
    background: transparent;
    background-image: url("../../images/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  &__button-next {
    width: 100px;
    height: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-right: 1px solid #242424;
    background: transparent;
    background-image: url("../../images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 12px;

    &:hover {
      cursor: pointer;
    }
  }
}

.official-review {
  max-width: 718px;
  padding: 55px 88px 72px;
  background: #FFFFFF;
  box-sizing: border-box;

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #242424;
  }

  &__button {
    width: 210px;
    height: 31px;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    border: 0;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #242424;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
    background-image: url("../../images/arrow-45.svg");
    background-repeat: no-repeat;
    padding: 7px 7px 10px 28px;
    background-position: -26px;

    &:hover {
      cursor: pointer;
    }
  }
}

.official-reviews__swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin-right: 16px;
  border: 1px solid #242424;
  background: transparent;

  &:last-of-type {
    margin-right: 0;
  }
}

.official-reviews__swiper-pagination .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #242424;
}


.swiper-slide {
  opacity: .25;
}
.swiper-slide-active {
  opacity: 1;
}


